<!--HTML file to get scores subject wise-->

<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>Scores</title>
    </head>
    <body>
        <h2>HTML Forms</h2>
        <form action="/scoresform" method="POST">
            <label for="DBMS">DBMS:</label><br>
            <input type="TEXT" id="DBMS" name="DBMS" value="0"><br><br>
            <label for="DS">DS:</label><br>
            <input type="TEXT" id="DS" name="DS" value="0"><br><br><br>
            <input type="submit" value="Submit">

        </form>
    </body>
</html>